openapi: 3.0.0
info:
  title: BoltFitness API
  version: 1.0.0
  description: API para la aplicación BoltFitness

servers:
  - url: https://api.boltfitness.app/v1
    description: Servidor de producción
  - url: http://localhost:3000/api
    description: Servidor de desarrollo

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Exercise:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        muscleGroup:
          type: string
        difficulty:
          type: string
          enum: [Beginner, Intermediate, Advanced]
        equipment:
          type: string
        image:
          type: string
          format: uri
        description:
          type: string
        instructions:
          type: array
          items:
            type: string
        targetMuscles:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        role:
          type: string
          enum: [user, trainer, admin]
        createdAt:
          type: string
          format: date-time

paths:
  /exercises:
    get:
      summary: Obtener lista de ejercicios
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: muscleGroup
          schema:
            type: string
        - in: query
          name: difficulty
          schema:
            type: string
            enum: [Beginner, Intermediate, Advanced]
      responses:
        '200':
          description: Lista de ejercicios
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exercise'
        '401':
          description: No autorizado
        '500':
          description: Error del servidor

    post:
      summary: Crear nuevo ejercicio
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Exercise'
      responses:
        '201':
          description: Ejercicio creado
        '400':
          description: Datos inválidos
        '401':
          description: No autorizado

  /exercises/{id}:
    get:
      summary: Obtener ejercicio por ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Detalles del ejercicio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exercise'
        '404':
          description: Ejercicio no encontrado

  /auth/login:
    post:
      summary: Iniciar sesión
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Login exitoso
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Credenciales inválidas
